<app-header></app-header>
<div class="container"> 
    <div class="row">      
      <!--NavBar-->
      <app-navbar></app-navbar>
      <!-- conteudo -->
      <div class="conteudo col-md-12" style="min-height: 580px; padding-bottom: 60px">
        
        <section class="col-md-12 margin-top-section">
          <h4>Menu3</h4>
        </section>
        <hr class="my-4  ">
        <div class="container">
          <div class="col-md-11 center-block pull-md-none margin-top-corpo">
            <!-- Corpo -->
            <!-- <p>{{message}}</p>-->   

            <h1>Example heading <span class="badge badge-secondary">New</span></h1>
            <h2>Example heading <span class="badge badge-secondary">New</span></h2>
            <h3>Example heading <span class="badge badge-secondary">New</span></h3>
            <h4>Example heading <span class="badge badge-secondary">New</span></h4>
            <h5>Example heading <span class="badge badge-secondary">New</span></h5>
            <h6>Example heading <span class="badge badge-secondary">New</span></h6>
            <br>  
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-light">Light</button>
            <button type="button" class="btn btn-dark">Dark</button>

            <button type="button" class="btn btn-link">Link</button>         
            </div> 
        </div>

        
         
                 
      </div>      
  
    <!-- Rodape -->
    <app-footer></app-footer>
  
    </div>
  </div>
  <!-- /.container -->
