<app-header></app-header>
<div class="container"> 
    <div class="row">      
      <!--NavBar-->
      <app-navbar></app-navbar>
      <!-- conteudo -->
      <div class="conteudo col-md-12" style="min-height: 580px; padding-bottom: 60px">
        
        <section class="col-md-12 margin-top-section">
          <h4>Home</h4>
        </section>
        <hr class="my-4  ">
        <div class="container">
          <div class="col-md-11 center-block pull-md-none margin-top-corpo">
            <!-- Corpo -->
            <!-- <p>{{message}}</p>-->            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae finibus turpis, sit amet sodales purus. Nunc fermentum arcu vel lectus tincidunt, non varius arcu lobortis. Sed interdum placerat elit, vitae molestie magna imperdiet vitae. Donec ac risus iaculis, maximus lorem sed, aliquam enim. Sed facilisis velit non enim ullamcorper, nec viverra lacus molestie. Etiam finibus non risus quis ultricies. Nulla malesuada massa sed nibh malesuada semper. Phasellus viverra, mauris eget malesuada mollis, metus ligula pharetra ipsum, at luctus enim urna in arcu. Fusce et sem interdum, placerat turpis eu, euismod nibh.</p>
            <p>Pellentesque posuere metus gravida finibus fringilla. Fusce tempor, massa quis viverra fringilla, nibh tortor egestas justo, in eleifend nisl elit et eros. Nunc vitae rhoncus est. Nunc est nunc, sollicitudin ut porttitor nec, tincidunt vitae tortor. Morbi faucibus nisi magna, nec mattis arcu tincidunt ac. Nulla fermentum eu nunc finibus venenatis. Ut sodales mauris eget risus tincidunt, sed interdum nisi sodales. Donec magna leo, varius quis blandit vel, ornare id dolor. Sed ut feugiat est. Curabitur id elit tortor. Nulla facilisi.</p>
          </div> 
        </div>

        
         
                 
      </div>      
  
    <!-- Rodape -->
    <app-footer></app-footer>
  
    </div>
  </div>
  <!-- /.container -->
